<a href="https://colab.research.google.com/github/vishaldandge152/python-basics-/blob/main/Datat_type_and_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data, so that it can be accessed and modified efficiently.
  they are important because of there efficiency , reusabilty,and organisation.

2. Explain the difference between mutable and immutable data types with examples.
    - mutable = mutable data types can be modified , changable. it includes list, set,dictionary.
    - immutable = it can not be modified , not changable. it includes tuples, string.

3. What are the main differences between lists and tuples in Python?
   - list is mutable , which can be changed later on if needed.
   but tuples are immutable , which cannot be changed.

4. Describe how dictionaries store data.
   - Dictionaries store data in the form of key-value pairs.
   in which keys can be modified if needed.

5. Why might you use a set instead of a list in Python?
   - we may use set instead of list because set has only unique values and if we don't care about elements position because set is not in  ordered.

6. What is a string in Python, and how is it different from a list?
    - string is a sequence of charatcers inside the '' or "" .
  string is writen in () and list in [] , string is different than list because it's immutable , can store only charaters , list can store any data types.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity due to its immutability, once tuple is created its can not be modified and that makes tuples data integrity in python.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash tables is a table which contains only immutable data types.
   tuple is stable hash value.
   - hash table is related to dictionaries because dictionaries only support hash values inside it.

9.  Can lists contain different data types in Python.
    - Yes, list can contain any data type in python, lists are heterogenuis.

10.  Explain why strings are immutable in Python.
     -  strings are immutable because once created , thier data is stored in memory in fixed way , so changing it is not possible.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer key value pairs in it, which offers fast look up by using key, no indexing , only key values can be modified not keys.

12.  Describe a scenario where using a tuple would be preferable over a list.
   - Tuple is preferable were we need to store permenent data that sholud not be changed , scenario such as employ_id, aadhar card number, student_id etc.

13.  How do sets handle duplicate values in Python?
      - set has only unique values , if any duplicate value is there in set then it will only consider that value once

14. How does the “in” keyword work differently for lists and dictionaries?
  - in list it checks if the value is present in element.
  and in dictionaries it checks if the value is a key in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
  - we can not modify the elemens ot tuple because tuple is immutable.
  and changing it is not possible.

16. What is a nested dictionary, and give an example of its use case?
    - nested dictionary means dictionary inside dictionnary where values are themselves dictionary.
   d={"student"{"name": "abhi", "roll no":"01"}}

17.  Describe the time complexity of accessing elements in a dictionary.
   - acessing elements in dictionary is o(1) know as on average and o(n) know as worst case due to its hash table implementation.

18.  In what situations are lists preferred over dictionaries.
      -  when we are not writing any senstive information , in which we have to make changes when ever required , and also when want elements in ordered and want to acces using index, then list is preffered over dictionary.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval.
      - dictionary are consider unorder because it has key value pairs, which are not in order.
      because of that acessing any value from that data gets complex.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - in list data retrival is done by indexing/position.
   in dictionary data retrival is done by key.

practical questions

In [ ]:
#Write a code to create a string with your name and print it.
name="Vishal"
print(name)

Vishal

In [ ]:
#Write a code to find the length of the string "Hello World".
string="Hello World"
print(len(string))

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".
string = "python programming"
print(string[0:3])

pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple.
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list4 = ["a","b","C","D"]
list4[1]

'b'

In [ ]:
# write a code to reverse a list [10,20,30,40,50]
list1 = [10,20,30,40,50]
list1[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tple = ('red','green','blue','yellow')
tple[1:]

('green', 'blue', 'yellow')

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tupl2 =(10,20,5,15)
min(tupl2)

5

In [ ]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple3 = ('dog','cat','rabbit')
tuple3.index('cat')

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple4 = ('apple','mango','kiwi')
('kiwi') in tuple4

True

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'}
print(s)

{'c', 'b', 'a'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1 = {1,2,3,4}
s1.remove(4)
print(s1)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {3,4,5}
s1 & s2

{3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name":"vishal", "age":"21", "city":"paithan"}
print(d)

{'name': 'vishal', 'age': '21', 'city': 'paithan'}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1 = {"name":"john", "age":"25"}
d1["country"]="USA"
print(d1)

{'name': 'john', 'age': '25', 'country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {"name":"Aalice", "age":"35"}
d["name"]

'Aalice'

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic = {'name': 'Alice', 'city': 'Paris'}
('city') in dic

True

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
list2 = [1, 2, 3, 4, 5]
print("List:", list2)

# Create a tuple
tuple1 = (10, 20, 30, 40, 50)
print("Tuple:", tuple1)

# Create a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replace).
import random
my_list = [random.randint(1,100) for i in range(5)]
my_list.sort()
print(my_list)

[8, 17, 39, 68, 98]

In [1]:
 # Write a code to create a list with strings and print the element at the third index.
 my_list = ["apple","kiwi","banana","mango","oranges","fdshfd"]
 print(my_list[3])

mango

In [9]:
# Write a code to combine two dictionaries into one and print the result.
d1 = {"name":"vishal","age":"21","result":"pass"}
d2 = {"name1":"Amol","age1":"20","result1":"pass"}
d1.update(d2)
print(d1)

{'name': 'vishal', 'age': '21', 'result': 'pass', 'name1': 'Amol', 'age1': '20', 'result1': 'pass'}

In [12]:
# Write a code to convert a list of strings into a set.
my_list = ["apple","kiwi","banana","mango","oranges","fdshfd"]
my_set = set(my_list)
print(my_set)

{'banana', 'kiwi', 'oranges', 'fdshfd', 'mango', 'apple'}